
.postBox {
    margin: auto;
    text-align: center;
    width: 70%;
    padding: 1%;
    background-color: #36393F;
    margin-top: 5%;
}

.Post {
    margin: auto;
    text-align: center;
    width: 70%;
    border-radius: 3px;
    color: #E4E6EB;
}

hr.solid {
    border-top: 3px solid #1F2933;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

.commentWall {
    margin: auto;
    text-align: center;
    width: 50%;
}

.comment {
    padding: 1%;
    margin: 2%;
    color: #E4E6EB;
    border: 1px solid #1F2933;
}

.createComment {
    margin: 0;
    text-align: center;
    color: #E4E6EB;
}
.createCommentUsername {
    text-decoration: none;
    color: #00A8CC;
}

.posterName {
    text-decoration: none;
    color: #00A8CC;
}

.login {
    color: #616E7C;
}

.commentDate {
    opacity: 70%;
}