
.profile {
    margin: auto;
    text-align: center;
    background-color: #616E7C;
    width: 50%;
    padding: 3%;
}

.profile1 {
    margin-bottom: 50px;
    display: inline-flex;
    justify-content: center;
    vertical-align:middle;
}

.pic {
    max-width: 100px;
    max-height: 100px;
}

.bio {
    padding-left: 30%;
}