.header {
    background-color: #36393F;
    height: 50px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 7%;
}

.headerLogo {
    float: left;
    font-size: 150%;
}

.header a {
    text-decoration: none;
    color: white;
}

.headerUser {
    float: right;
}

.headerFormR {
    float: right;
}