
.wall {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.wallPost {
    text-align: center;
    background-color: #36393F;
    border-radius: 10px;
    width: 40vw;
    padding: 2%;
    font-size: 70%;
    margin-bottom: 5%;
}

.wallPost a {
    text-decoration: none;
}

.wallPost h1 {
    color: #E4E6EB;
}

.wallPost h3 {
    color: #E4E6EB;
}

.posterName {
    text-decoration: none;
    color: #00A8CC;
}